<h1> hi </h1>
<h2> make it </h2>
<%= form_with scope: :user, url: users_path, local: true do |form| %>
  <p>
    <%= form.label :name, "Name" %>
    <%= form.text_field :name, required: true %>
  </p>
  <p>
    <%= form.label :username, "Username" %>
    <%= form.text_field :username, required: true %>
  </p>
  <p>
    <%= form.label :email, "Email" %>
    <%= form.text_field :email, required: true %>
  </p>
  <p>
    <%= form.label :password, "Password" %>
    <%= form.password_field :password, required: true, minlength: 6, maxlength: 10 %>
  </p>
  <p>
    <%= form.submit "Sign Up"%>
  </p>
<% end %>
