<div class = "nav-bar">
<div id="logo">
</div>
  <%= link_to 'Sign in', new_user_session_path %>
  <%= link_to('Sign out', destroy_user_session_path, method: :delete) %>
  <% if @user%>
    Welcome, <%= @user.username%>
  <%end%>
</div>

<% @posts.each do |post| %>
  <p><%= post.message %></p>
<% end %>

  <%= link_to new_post_path do %>
  New post
<% end %>

