<% @posts.each do |post| %>
  <p><%= simple_format(post.message) %></p>
  <%= post.created_at.strftime("%Y-%m-%d %H:%M") %>
  <% if post.user_id == current_user.id %>
    <%= button_to 'Delete', post_path(post), method: :delete%>
    <% if ( (post.created_at) + (10*60) ) >= @time %>
      <%= link_to 'Update', edit_post_path(post) %>
    <% end %>
  <% end %>
<% end %>

<div id="profile-picture">
  <%= image_tag @user.profile_picture if @user.profile_picture.attached? %>
</div>

<%= link_to 'Sign in', new_user_session_path %>
 <%= link_to('Sign out', destroy_user_session_path, method: :delete) %>
<%= link_to new_post_path do %>

<% if @user%>
  Welcome, <%= @user.username%>
  <%end%>
  New post
<% end %>
