<head>

<%= stylesheet_link_tag 'posts_index' %>
</head>

<body>

<div id="nav-c">
<div id="nav-c-g1"><%= image_tag ("logo.png")%></div>
<div id="nav-c-g2"> <% if @user%>
   <p id="greeting"> Hakuna Matata, <br> <%= @user.username%> </p>
  <%end%> </div>
<div id="nav-c-g3"> 
  <div id="sign-out"><%= link_to('Sign out', destroy_user_session_path, method: :delete) %></div>
</div>
</div>

</div>
</div>

<main id='con1'>
<div id='con1-g1'></div>
<div id='con1-g2'>
<% @posts.each do |post| %>
  <div id="message-con">
  <p id=username><%= post.id %> </p>
  <p id="timestamp"><%= post.created_at.strftime("%b %-d, %y %l:%M%P")%>
  <p><%= post.message %></p>
  <%# <div id="button-con"> %>
  <button id="delete">DELETE ME!!!</button>
  <button id="update">UPDATE ME!!!</button>
  <%# </div> %>
  </div>
<% end %>
  </div>
<div id='con1-g3'></div>
<div id='con1-g4'></div>
<div id='con1-g5'>  <%= link_to new_post_path do %>
  <div id="new-post">Shout To The Jungle</div>
<% end %><%= image_tag ("down_arrow.png")%></div>
<div id='con1-g6'></div>

</main>


</body>